# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Build
build/
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/

# Environments
venv/
env/

# Large ML artifacts
slurp_wavs/
*.pt
*.bin
*.safetensors

# Logs / temp
*.log
tmp/